<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AkriviaPay</title>

    <link rel="icon"  href="/src/images/app/AKRIVIA-QUADRADO-Fundo.png"/>

    <!-- MATERIAL CDN -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="/src/css/style.css">
</head>