<div class="right">
    <div class="top">
        <button class="menu-btn">
            <span class="material-icons-sharp">menu</span>
        </button>
        <div class="profile">
            <a href="#">
                <span style="margin: 0 5px;" class="material-icons-sharp">logout</span>
            </a>
            <a href="#">
                <span style="margin: 0 5px;" class="material-icons-sharp">bookmarks</span>
            </a>
            <div class="info">
                <p>Hey, <b><%= username %></b></p>
                <small class="text-muted"><%= acesso %></small>
            </div>
            <div class="profile-photo">
                <a href="/profile">
                    <img src="/src/images/app/iconUser.jpg">
                </a>
            </div>
        </div>
    </div>
</div>