<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AkriviaPay</title>
    
    <link rel="icon"  href="/src/images/app/AKRIVIA-QUADRADO-Fundo.png"/>
    
    <!-- Material CDN -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">

    <!-- Style CSS -->
    <link rel="stylesheet" href="/src/css/styleLogin.css">
</head>
<body>
    
    <form action="/cadastro" method="POST">
        <div class="main-login">

            <div class="left-login">
                <h2>Boas Vindas<br>Cadastre seu Usuário</h2>
                <img id="svg" class="left-login-svg" src="" />
            </div>
            <div class="right-login">
                
                <div class="card-login">
                    <img class="img-login" src="/src/images/app/AKRIVIA-QUADRADO-Fundo.png" alt="">
                    <h1>CADASTRE-SE</h1>
                    <div class="text-field">
                        <label for="usuario">E-mail</label>
                        <input type="email" name="email" placeholder="E-mail" required/>
                    </div>
                    <div class="text-field">
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" placeholder="Senha" required/>
                    </div>
                    <div class="text-field">
                        <label for="senha">Nome do Usuário</label>
                        <input type="text" name="username" placeholder="username" required/>
                    </div>
                    <button type="submit" class="btn-login">Cadastrar</button>
                    <button type="button" class="btn-login" onclick="location.href='/'">Voltar</button>
                </div>
            </div>
    
        </div>
    </form>

    <script>
        
        var svgs = ["/src/images/app/businessAnimation.svg", "/src/images/app/businessAnimation-2.svg"];
        const svg = document.getElementById('svg')
        var random = Math.floor(Math.random() * svgs.length);
        console.log(random)
        svg.src = svgs[random]
    </script>

</body>
</html>